header {
  background-color: steelblue;
  height: 60px;
}

h1 {
  font-size: 50px;
  text-align: right;
  margin-right: 15px;
}

body {
  background-color: silver;
}

ul {
  border: 2px solid black;
}
